<style>
  form button {
    text-shadow: none;
  }
</style>


<div class="row">
  <div class="col-xs-12">
    <h1>Список статей</h1>
  </div>

  <form method="GET">
    <div class="col-xs-12">
      <%= select_tag 'chapter_id',
                     options_from_collection_for_select(@chapters, 'id', 'title', params[:chapter_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     id: 'chapter_selector' %>
    </div>

    <div class="col-xs-12">
      <%= select_tag 'review_id',
                     options_from_collection_for_select(@reviews, 'id', 'title', params[:review_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     id: 'review_selector' %>
    </div>

    <div class="col-xs-12">
      <%= select_tag 'section_id',
                     options_from_collection_for_select(@sections, 'id', 'title', params[:section_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     title: 'Все',
                     id: 'section_selector' %>
    </div>

    <div class="col-xs-12">
      <%= select_tag 'subsection_id',
                     options_from_collection_for_select(@subsections, 'id', 'title', params[:subsection_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     title: 'Все',
                     id: 'subsection_selector' %>
    </div>

    <div class="col-xs-12">
      <button type="submit" class="btn btn-success">Найти</button>
    </div>

  </form>

  <div class="col-xs-12">
    <table class="table table-striped">
      <%= render @articles %>
    </table>
  </div>

  <div class="col-xs-10 col-xs-offset-1 text-center">
    <%= paginate @articles %>
  </div>

</div>

<script type="text/javascript" charset="utf-8">

  var chapterSelector = $('#chapter_selector');
  var reviewSelector = $('#review_selector');
  var sectionSelector = $('#section_selector');

  chapterSelector.change(function() {
    getSubcategoriesByCategory('/api/reviews_by_chapter', {'chapter_id': this.value}, '#review_selector');
  });

  reviewSelector.change(function() {
    getSubcategoriesByCategory('/api/sections_by_review', {'review_id': this.value}, '#section_selector');
  });

  sectionSelector.change(function() {
    getSubcategoriesByCategory('/api/subsections_by_section', {'section_id': this.value}, null);
  });

  function getSubcategoriesByCategory(apiUrl, data, triggerSelector) {
    $.post(apiUrl, data,
        function() {
          $(triggerSelector).change();
          $(triggerSelector).selectpicker('refresh');
        }
    );
  }

</script>