<%= render partial: 'common/header', locals: {active: 'home'} %>

<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag(current_user.avatar, class: 'img-responsive img-rounded') %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <%= text_field_tag(:last_name, current_user.last_name, class: 'form-control') %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Имя</label>
        <%= text_field_tag(:first_name, current_user.first_name, class: 'form-control') %>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Отчество</label>
        <%= text_field_tag(:patronymic, current_user.patronymic, class: 'form-control') %>
      </div>
    </form>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title"
          data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Перечень публикаций
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Тут будет список публикаций
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Участие в конференциях
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Список конференций
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Список курсов
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Список курсов
      </div>
    </div>
  </div>
</div>
